.ingredient {
  width: 272px;
  min-height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.name {
  text-align: center;
  word-wrap: break-word;
}

.ingredient:hover {
  cursor: pointer;
}
