.container {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  width: 100%;
  height: 700px;
}

.container::-webkit-scrollbar {
  width: 8px;
}
.container::-webkit-scrollbar-track {
  background: #2F2F37;
}
.container::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.list {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 32px;
  flex-wrap: wrap;
}
