.list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.link {
  box-sizing: border-box;
  padding: auto;
  margin: 0;
  height: 56px;
  text-decoration: none;
  color: #f2f2f3;
  text-align: center;
  border-bottom: 1px solid #2f2f37;
}

.link:hover {
  cursor: pointer;
}

.link_active {
  /* box-sizing: border-box;
  padding: auto;
  margin: 0;
  height: 56px;
  text-decoration: none;
  color: #f2f2f3;
  text-align: center; */
  composes: link;
  border-bottom: 1px solid #4C4CFF
}
